{{ if .Site.Params.education.enable | default false }}
<section id="education" class="py-5">
    <div class="container">
        <div class="px-0 px-md-5 px-lg-5">
            <h3 class="text-left">{{ .Site.Params.education.title | default "Education" }}</h3>
            <br>
            <div class="row justify-content-left px-3">
                {{ $indexMenu := .Site.Params.education.index }}
                {{ range $index, $element := .Site.Params.education.items }}
                <div class="col-12 px-3">
                    <div class="row row align-items-left justify-content-left m-1 mb-4">
                        {{ if $indexMenu }}
                        <div class="col-md-1 text-left me-2 p-0 d-none d-md-block">
                            <div class="py-2">
                                <span class="index shadow-lg">
                                    {{ add $index 1 }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                        <div class="col-md-10">
                            <div class="card">
                                <div class="card-body" style = "border-top: 0px solid #fff; border-bottom: 0px solid #fff; border-left: 0px solid #fff; border-right: 0px solid #fff; border-color:#fff">
                                    <div class="float-end">
                                        <small>{{ .date }}</small>
                                    </div>
                                    <h5 class="card-title">{{ .title }}</h5>
                                    
                                    {{ if .school.url }}
                                    <a href="{{ .school.url }}" target="_blank">
                                        <h6>
                                        {{ .school.name }}
                                        </h6>
                                    </a>
                                    {{ else }}
                                    {{ .school.name }}
                                    {{ end }}

                                    {{ if .GPA }}
                                    <div class="py-1">
                                        GPA:
                                        <i>
                                            <small>{{ .GPA }}</small>
                                        </i> 
                                    </div>
                                    {{ end }}
                                    <div class="py-1 education-content">
                                        {{ .content | markdownify}}
                                    </div>

                                    {{ if .featuredLink.enable }}
                                    <div class="py-1">
                                        <a href="{{ .featuredLink.url }}" class="btn">
                                            {{ .featuredLink.name | default "Featured" }}
                                        </a>
                                    </div>
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }} 
